{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    All Employess
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="home-tab">

                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active ps-0" id="home-tab" href="{% url 'main:home' %}" role="tab">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" href="{% url 'main:attendance' %}">Attendance</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab" href="{% url 'main:report' %}">Report</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link border-0" id="more-tab" href="{% url 'main:combined_report' %}" role="tab">Combined Report</a>
                    </li>
                  </ul>
                  <div>
                    <div class="btn-wrapper">
                      <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                      <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                      <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                    </div>
                  </div>
                </div>

                <div class="tab-content tab-content-basic">

                    <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                    <h4 class="card-title card-title-dash">Employees</h4>
                                   <p class="card-subtitle card-subtitle-dash">All Employees</p>
                                  </div>
                                  <div>
                                    <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i>Add new Employee</button>
                                  </div>
                                </div>
                                <div class="table-responsive  mt-1">
                                  <table class="table select-table">
                                    <thead>
                                      <tr>
                                        <th>Name</th>
                                        <th>Department</th>
                                        <th>Info</th>
                                        <th>Status</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for emp in employees %}
                                      <tr>
                                        <td>
                                          <div class="d-flex ">
                                            <img src="{% static 'assets/images/faces/profile.png' %}" alt="">
                                            <div>
                                              <h6>{{ emp.employee }}</h6>
                                              <p>{{ emp.position }}</p>
                                            </div>
                                          </div>
                                        </td>
                                        <td>
                                          <h6>{{ emp.department }}</h6>
                                          <p></p>
                                        </td>
                                          <td>
                                          <h6>{{ emp.slug }}</h6>
                                          <p>{{ emp.phone_number }}</p>
                                        </td>
                                        <td><div class="badge badge-opacity-success">Active</div></td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}